sudo: required
dist: trusty

language: go

go:
  - "1.11"

env:
  global:
    - GO111MODULE=on
  matrix:
    include:
    - PGDB: 9.6
      env: RELEASE=true
    - PGDB: 10

services:
  - redis-server

before_install:
  # setup redis
  - sudo sed -e 's/^bind.*/bind 127.0.0.1/' /etc/redis/redis.conf > redis.conf
  - sudo mv redis.conf /etc/redis
  - sudo service redis-server start
  - echo PING | nc localhost 6379
  # setup postgresql
  - sudo -E service postgresql stop 9.2
  - sudo -E service postgresql stop 9.3
  - sudo -E service postgresql stop 9.4
  - sudo -E service postgresql stop 9.5
  - sudo -E service postgresql stop 9.6
  - sudo -E apt-get -yq --no-install-suggests --no-install-recommends $(travis_apt_get_options) install postgresql-$PGDB postgresql-client-$PGDB postgresql-$PGDB-postgis-2.4 postgresql-$PGDB-postgis-2.4-scripts
  - sudo -E sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
  - sudo -E sed -i 's/port = 5433/port = 5432/' /etc/postgresql/*/main/postgresql.conf
  - sudo -E service postgresql restart $PGDB
  # misc
  - sudo mount -o remount,size=50% /var/ramfs
  - df -h

before_script:
  - psql -U postgres -c "CREATE USER mailroom_test PASSWORD 'temba';"
  - psql -U postgres -c "ALTER ROLE mailroom_test WITH SUPERUSER;"
  - psql -U postgres -c "CREATE DATABASE mailroom_test;"

script:
  - go test -p=1 -coverprofile=coverage.text -covermode=atomic github.com/nyaruka/mailroom/...
  - df -h

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - rm coverage.text

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux AND $RELEASE

